page-register {
    .floatArrow{
        float: right;
    }
    .backgroundimg{
        background-image: url("https://media.istockphoto.com/vectors/medical-health-care-innovation-abstract-background-vector-id540988986");
    }
    .padding{
        padding: 15px;
    }
    .button-outline-ios-dark{
        background-color: aliceblue
    }
}

